.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #324C16;
    box-shadow: 0 4px 20px 0 rgba(53, 53, 53, 0.15);
    border: none;
    cursor: pointer;
    width: 295px;
    height: 56px;
}

.button:hover{
    background: #324C1690 !important;
}

.buttonLabel{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.iconButton{
    border-radius: 32px;
    box-shadow: 0 4px 20px 0 rgba(53, 53, 53, 0.15);
    border: none;
    cursor: pointer;
    width: 295px;
    height: 56px;
}

.inputLogin{
    display: flex;
    width: 253px;
    height: 54px;
    padding-left: 40px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    background: #829A7C;
    border: none;
    box-shadow: 0 4px 20px 0 rgba(53, 53, 53, 0.15);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.inputLogin:focus{
    outline:none;
}

.inputLogin::placeholder {
    color: #C1CDBD;
    font-family: Onest;
}

.inputSearch{
    display: flex;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    border: none;
    width: 220px;
    height: 45px;
    padding: 2px 30px;
    margin: 0 20px;
    gap: 10px;
    border-radius: 46px;
    background: #FFF;
    box-shadow: 0 4px 20px 0 rgba(53, 53, 53, 0.15);
}

.inputSearch:focus{
    outline:none;
}

.inputSearch::placeholder {
    color: rgba(53, 53, 53, 0.15);
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}


.item-description{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    gap: 6px;
}


.item-title{
    padding-top: 32px;
    padding-left: 32px;
    color: #353535;
    font-size: 16px;
    font-weight: 600;
}


.item-price{
    padding-left: 32px;
    color: #324C16;
    opacity: 70%;
    font-size: 16px;
    font-weight: 600;
}


.item-price-commission{
    color: #324C16;
    opacity: 70%;
    font-size: 12px;
    font-weight: 400;
}


.item-desc{
    color: #666;
    padding: 10px 32px;
    line-height: 1.2rem;
    font-size: 12px;
    font-weight: 400;
}


